In [2]:
pip install alpha_vantage

Collecting alpha_vantage
  Downloading https://files.pythonhosted.org/packages/ba/b4/d95f9e0eccea6732bab5a079772d453a4f0b68a9f63740d9cf320f92beaa/alpha_vantage-2.3.1-py3-none-any.whl
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from alpha_vantage) (2.23.0)
Collecting aiohttp
  Downloading https://files.pythonhosted.org/packages/ad/e6/d4b6235d776c9b33f853e603efede5aac5a34f71ca9d3877adb30492eb4e/aiohttp-3.7.3-cp36-cp36m-manylinux2014_x86_64.whl (1.3MB)
     |████████████████████████████████| 1.3MB 5.6MB/s
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->alpha_vantage) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->alpha_vantage) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->alpha_vantage) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->alpha_vantage) (2020.12.5)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp->alpha_vantage) (20.3.0)
Collecting idna-ssl>=1.0; python_version < "3.7"
  Downloading https://files.pythonhosted.org/packages/46/03/07c4894aae38b0de52b52586b24bf189bb83e4ddabfe2e2c8f2419eec6f4/idna-ssl-1.1.0.tar.gz
Collecting yarl<2.0,>=1.0
  Downloading https://files.pythonhosted.org/packages/da/08/52b26b44bce7b818b410aee37c5e424c9ea420c557bca97dc2adac29b151/yarl-1.6.3-cp36-cp36m-manylinux2014_x86_64.whl (293kB)
     |████████████████████████████████| 296kB 34.3MB/s
Requirement already satisfied: typing-extensions>=3.6.5 in /usr/local/lib/python3.6/dist-packages (from aiohttp->alpha_vantage) (3.7.4.3)
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', ConnectionResetError(104, 'Connection reset by peer'))': /simple/multidict/
Collecting multidict<7.0,>=4.5
  Downloading https://files.pythonhosted.org/packages/a1/35/b22524d6b9cacfb4c5eff413a069bbc17c6ea628e54da5c6c989998ced5f/multidict-5.1.0-cp36-cp36m-manylinux2014_x86_64.whl (141kB)
     |████████████████████████████████| 143kB 52.1MB/s
Collecting async-timeout<4.0,>=3.0
  Downloading https://files.pythonhosted.org/packages/e1/1e/5a4441be21b0726c4464f3f23c8b19628372f606755a9d2e46c187e65ec4/async_timeout-3.0.1-py3-none-any.whl
Building wheels for collected packages: idna-ssl
  Building wheel for idna-ssl (setup.py) ... done
  Created wheel for idna-ssl: filename=idna_ssl-1.1.0-cp36-none-any.whl size=3163 sha256=0d9062d35b802e18674811a20f689822ee4844bc42f980751b1d9fc6f68fc2f2
  Stored in directory: /root/.cache/pip/wheels/d3/00/b3/32d613e19e08a739751dd6bf998cfed277728f8b2127ad4eb7
Successfully built idna-ssl
Installing collected packages: idna-ssl, multidict, yarl, async-timeout, aiohttp, alpha-vantage
Successfully installed aiohttp-3.7.3 alpha-vantage-2.3.1 async-timeout-3.0.1 idna-ssl-1.1.0 multidict-5.1.0 yarl-1.6.3

In [5]:
from alpha_vantage.timeseries import TimeSeries

key = ''
outputsize = 'compact'
symbol = input('Ticker : ')
typ = input('Data type- "daily", "weekly", "monthly", "interval" : ')

ts = TimeSeries(key,output_format='pandas')

if typ == 'daily':
  state = ts.get_daily_adjusted(symbol,outputsize=outputsize)[0]
elif typ == 'weekly':
  state = ts.get_weekly_adjusted(symbol)[0]
elif typ == 'monthly':
  state = ts.get_monthly_adjusted(symbol)[0]
elif typ == 'interval':
  interval = input('Interval-1min, 5min, 15min, 30min, 60min : ')
  state = ts.get_intraday(symbol, interval=interval, outputsize=outputsize)[0]
else:
  print('Wrong entry')
state

Ticker : f
Data type- "daily", "weekly", "monthly", "interval" : interval
Interval-1min, 5min, 15min, 30min, 60min : 5min

                     1. open  2. high  3. low  4. close  5. volume
date
2021-01-12 20:00:00   9.8800    9.880  9.8700    9.8800    44272.0
2021-01-12 19:55:00   9.8800    9.880  9.8700    9.8800    10086.0
2021-01-12 19:50:00   9.8700    9.880  9.8700    9.8800     4548.0
2021-01-12 19:45:00   9.8800    9.880  9.8600    9.8600     9908.0
2021-01-12 19:40:00   9.8700    9.880  9.8700    9.8800     8060.0
...                      ...      ...     ...       ...        ...
2021-01-12 12:05:00   9.7000    9.735  9.6901    9.7250  1370005.0
2021-01-12 12:00:00   9.6678    9.700  9.6610    9.7000   711510.0
2021-01-12 11:55:00   9.6800    9.680  9.6400    9.6700  1442324.0
2021-01-12 11:50:00   9.6500    9.680  9.6450    9.6769  1965358.0
2021-01-12 11:45:00   9.6278    9.670  9.6250    9.6500  1211119.0

[100 rows x 5 columns]

In [6]:
from alpha_vantage.fundamentaldata import FundamentalData

key = ''
symbol = input('Ticker : ')
period = input('Period- annual, quarterly : ')
statement = input('Statement- balance sheet, income statement, cash flow : ')

fd = FundamentalData(key,output_format = 'pandas')

if period == 'annual':
  if statement == 'balance sheet':
    state = fd.get_balance_sheet_annual(symbol)[0].T[2:]
    state.columns = list(fd.get_balance_sheet_annual(symbol)[0].T.iloc[0])
  elif statement == 'income statement':
    state = fd.get_income_statement_annual(symbol)[0].T[2:]
    state.columns = list(fd.get_income_statement_annual(symbol)[0].T.iloc[0])
  elif statement == 'cash flow':
    state = fd.get_cash_flow_annual(symbol)[0].T[2:]
    state.columns = list(fd.get_cash_flow_annual(symbol)[0].T.iloc[0])
  else:
    print('Wrong Entry')

elif period == 'quarterly':
  if statement == 'balance sheet':
    state = fd.get_balance_sheet_quarterly(symbol)[0].T[2:]
    state.columns = list(fd.get_balance_sheet_quarterly(symbol)[0].T.iloc[0])
  elif statement == 'income statement':
    state = fd.get_income_statement_quarterly(symbol)[0].T[2:]
    state.columns = list(fd.get_income_statement_quarterly(symbol)[0].T.iloc[0])
  elif statement == 'cash flow':
    state = fd.get_cash_flow_quarterly(symbol)[0].T[2:]
    state.columns = list(fd.get_cash_flow_quarterly(symbol)[0].T.iloc[0])
  else:
    print('Wrong Entry')
else:
  print('Wrong Entry')
state

Ticker : aapl
Period- annual, quarterly : annual
Statement- balance sheet, income statement, cash flow : income statement

                                     2020-09-30  ...    2016-09-30
totalRevenue                       274515000000  ...  215639000000
totalOperatingExpense               38668000000  ...   24239000000
costOfRevenue                      169559000000  ...  131376000000
grossProfit                        104956000000  ...   84263000000
ebit                                67091000000  ...   61372000000
netIncome                           57411000000  ...   45687000000
researchAndDevelopment              18752000000  ...   10045000000
effectOfAccountingCharges                  None  ...          None
incomeBeforeTax                     67091000000  ...   61372000000
minorityInterest                           None  ...          None
sellingGeneralAdministrative        19916000000  ...   14194000000
otherNonOperatingIncome               803000000  ...    1348000000
operatingIncome                     66288000000  ...   60024000000
otherOperatingExpense                      None  ...          None
interestExpense                      2873000000  ...    1456000000
taxProvision                         9680000000  ...   15685000000
interestIncome                        890000000  ...    3999000000
netInterestIncome                     890000000  ...    2543000000
extraordinaryItems                         None  ...          None
nonRecurring                               None  ...          None
otherItems                                 None  ...          None
incomeTaxExpense                     9680000000  ...   15685000000
totalOtherIncomeExpense               -87000000  ...   -1195000000
discontinuedOperations                     None  ...          None
netIncomeFromContinuingOperations   57411000000  ...   45687000000
netIncomeApplicableToCommonShares   57411000000  ...   45687000000
preferredStockAndOtherAdjustments          None  ...          None

[27 rows x 5 columns]

In [ ]:
from alpha_vantage.foreignexchange import ForeignExchange

key = ''
from_curr = input('From currency : ')
to_curr = input('To currency : ')
period = input('Period- daily,weekly,monthly,intraday : ')

fe =ForeignExchange(key,output_format = 'pandas')

if period == 'daily':
  state = fe.get_currency_exchange_daily(from_curr,to_curr)[0]
elif period == 'weekly':
  state = fe.get_currency_exchange_weekly(from_curr,to_curr)[0]
elif period == 'monthly':
  state = fe.get_currency_exchange_monthly(from_curr,to_curr)[0]
elif period == 'intraday':
  interval = input('Interval-1min, 5min, 15min, 30min, 60min : ')
  state = fe.get_currency_exchange_intraday(from_curr,to_curr,interval=interval)[0]
else:
  print('Wrong Entry')
state

From currency : usd
To currency : inr
Period- daily,weekly,monthly,intraday : intraday
Interval-1min, 5min, 15min, 30min, 60min : 30min

                     1. open  2. high  3. low  4. close
date
2021-01-05 20:30:00   73.120   73.120  73.105    73.105
2021-01-05 20:00:00   73.135   73.135  73.135    73.135
2021-01-05 19:30:00   73.136   73.137  73.133    73.137
2021-01-05 19:00:00   73.151   73.151  73.130    73.136
2021-01-05 18:30:00   73.130   73.130  73.130    73.130
...                      ...      ...     ...       ...
2021-01-01 20:30:00   73.120   73.120  73.120    73.120
2021-01-01 20:00:00   73.120   73.120  73.120    73.120
2021-01-01 19:30:00   73.120   73.120  73.120    73.120
2021-01-01 19:00:00   73.120   73.120  73.120    73.120
2021-01-01 18:30:00   73.120   73.120  73.120    73.120

[100 rows x 4 columns]

In [ ]:
from alpha_vantage.cryptocurrencies import CryptoCurrencies

key = ''
curr = input('Crypto Currency : ')
period = input('Period- daily,weekly,monthly : ')

cc =CryptoCurrencies(key,output_format = 'pandas')

if period == 'daily':
  state = cc.get_digital_currency_daily(curr,'CNY')[0]
elif period == 'weekly':
  state = cc.get_digital_currency_weekly(curr,'CNY')[0]
elif period == 'monthly':
  state = cc.get_digital_currency_monthly(curr,'CNY')[0]
else:
  print('Wrong Entry')
state

Crypto Currency : eth
Period- daily,weekly,monthly : monthly

            1a. open (CNY)  1b. open (USD)  ...     5. volume  6. market cap (USD)
date                                        ...
2021-01-05     4758.377830          736.42  ...  9.344059e+06         9.344059e+06
2020-12-31     3984.483975          616.65  ...  3.045119e+07         3.045119e+07
2020-11-30     2496.982060          386.44  ...  3.642611e+07         3.642611e+07
2020-10-31     2325.041545          359.83  ...  1.929276e+07         1.929276e+07
2020-09-30     2802.998700          433.80  ...  3.443112e+07         3.443112e+07
2020-08-31     2237.746680          346.32  ...  2.876935e+07         2.876935e+07
2020-07-31     1457.649785          225.59  ...  2.093518e+07         2.093518e+07
2020-06-30     1496.224940          231.56  ...  1.607392e+07         1.607392e+07
2020-05-31     1331.521305          206.07  ...  2.471759e+07         2.471759e+07
2020-04-30      857.570280          132.72  ...  3.062249e+07         3.062249e+07
2020-03-31     1404.019335          217.29  ...  4.010017e+07         4.010017e+07
2020-02-29     1162.682310          179.94  ...  2.115400e+07         2.115400e+07
2020-01-31      834.567340          129.16  ...  1.281788e+07         1.281788e+07
2019-12-31      978.464945          151.43  ...  8.781776e+06         8.781776e+06
2019-11-30     1177.220685          182.19  ...  1.017575e+07         1.017575e+07
2019-10-31     1168.820735          180.89  ...  1.410592e+07         1.410592e+07
2019-09-30     1108.276480          171.52  ...  1.364808e+07         1.364808e+07
2019-08-31     1411.320830          218.42  ...  6.963710e+06         6.963710e+06
2019-07-31     1892.508735          292.89  ...  1.117659e+07         1.117659e+07
2019-06-30     1731.035850          267.90  ...  1.243395e+07         1.243395e+07
2019-05-31     1045.793775          161.85  ...  1.897680e+07         1.897680e+07
2019-04-30      913.720715          141.41  ...  1.282946e+07         1.282946e+07
2019-03-31      874.370180          135.32  ...  8.362025e+06         8.362025e+06
2019-02-28      687.955905          106.47  ...  1.268547e+07         1.268547e+07
2019-01-31      849.364175          131.45  ...  1.394012e+07         1.394012e+07
2018-12-31      734.737165          113.71  ...  1.826469e+07         1.826469e+07
2018-11-30     1283.900050          198.70  ...  1.035978e+07         1.035978e+07
2018-10-31     1505.787960          233.04  ...  5.656056e+06         5.656056e+06
2018-09-30     1818.653790          281.46  ...  1.501120e+07         1.501120e+07
2018-08-31     2792.660300          432.20  ...  8.484871e+06         8.484871e+06
2018-07-31     2934.813300          454.20  ...  4.643015e+06         4.643015e+06
2018-06-30     3733.519315          577.81  ...  3.679540e+06         3.679540e+06
2018-05-31     4334.244970          670.78  ...  4.408749e+06         4.408749e+06

[33 rows x 10 columns]

In [ ]:
from alpha_vantage.techindicators import TechIndicators

key = ''
symbol = input('Ticker : ')
outputsize = 'compact'
interval =input('Interval- 1min,5min,15min,30min,60min,daily,weekly,monthly : ')
time = input('Time Period : ')
tech_indi = input('Technical Indicator- SMA,EMA,VWAP,MACD,Stochastic Oscillator,RSI,Bollinger bands :')

ti = TechIndicators(key,output_format='pandas')

if tech_indi == 'SMA':
  state = ti.get_sma(symbol, interval=interval, time_period=time, series_type='close')[0]
elif tech_indi == 'EMA':
  state = ti.get_ema(symbol, interval=interval, time_period=time, series_type='close')[0]
elif tech_indi == 'VWAP':
  state = ti.get_vwap(symbol, interval=interval)[0]
elif tech_indi == 'MACD':
  state = ti.get_macd(symbol, interval=interval, series_type='close')[0]
elif tech_indi == 'Stochastic Oscillator':
  state = ti.get_stoch(symbol, interval=interval)[0]
elif tech_indi == 'RSI':
  state = ti.get_rsi(symbol, interval=interval, time_period=time, series_type='close')[0]
elif tech_indi == 'Bollinger bands':
  state = ti.get_bbands(symbol, interval=interval, time_period=time, series_type='close')[0]
else:
  print('Wrong Entry')
state

Ticker : msft
Interval- 1min,5min,15min,30min,60min,daily,weekly,monthly : 30min
Time Period : 20
Technical Indicator- SMA,EMA,VWAP,MACD,Stochastic Oscillator,RSI,Bollinger bands :RSI

                         RSI
date
2020-11-24 14:30:00  64.0351
2020-11-24 15:00:00  63.2563
2020-11-24 15:30:00  63.3696
2020-11-24 16:00:00  66.2453
2020-11-24 16:30:00  66.6795
...                      ...
2021-01-04 18:00:00  38.9066
2021-01-04 18:30:00  38.3127
2021-01-04 19:00:00  37.9377
2021-01-04 19:30:00  38.1766
2021-01-04 20:00:00  39.7235

[800 rows x 1 columns]